<% @flickr_user.photos.each do |photo| %>
    <div class="py-2 px-2">
        <!-- create an img tag -->
        <% @image = image_tag(FlickrApi.photo_url(photo), class: "img-fluid rounded") %>

        <!-- create a link to the img using the img as the link  -->
        <%= link_to( @image , show_path( photo: {id: photo["id"], photo_data: photo } ), target: :_blank)%>
    </div>
<% end %>

#when you click a photo • redirect to a new page that has the photo and then links to all the different sizes of that poto to view. 